{% extends 'store/principal.html' %}
{% load static %}
{% block content %}

	<div class="row">
		<div class="col-md-12">
			{%if items%}
				<br>
				<a  class="btn btn-outline-dark" href="{% url 'store:tienda' %}">&#x2190; Seguir comprando</a>
				<br>
				<br>
				<h3>Mi orden</h3>
				<div class="row rowCardContainer">
					<div class="col-md-6">
						{%for item in items%}
							<div class="card mb-3 box-element" style="max-width: 540px;">
								<div class="row no-gutters">
									<div class="col-md-4 imgContainer">
										<img src="{{item.producto.imagen.url}}" class="card-img" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">{{item.producto.titulo}}</h5>
											<p class="card-text">Precio: <strong>${{item.producto.precio}}</strong></p>
											<p class="card-text "  >
												Cantidad: <strong style="font-size: 20px;" >{{item.cantidad}}</strong>
											</p> 
											<div class="row">
												<form class="col-md-1" action="/carrito/" method="POST"> {% csrf_token %}
													<input type="text" style="display: none;" name="cantidad" value="{{1}}">
													<input type="text" style="display: none;" name="idProducto" value="{{item.producto.id}}">
													<button type="submit" style=" margin-left: 5px;" class="btn btn-outline-info btnUpdateCantidad">+</button>
												</form>
												<form class="col-md-1" action="/carrito/" method="POST"> {% csrf_token %}
													<input type="text" style="display: none;" name="cantidad" value="{{-1}}">
													<input type="text" style="display: none;" name="idProducto" value="{{item.producto.id}}">
													<button type="submit" class="btn btn-outline-info btnUpdateCantidad">-</button>
												</form>
												<form class="col-md-1" action="/carrito/" method="POST"> {% csrf_token %}
													<input type="text" style="display: none;" name="cantidad" value="{% widthratio item.cantidad 1 -1 %}">
													<input type="text" style="display: none;" name="idProducto" value="{{item.producto.id}}">
													<button type="submit" class="btn btn btn-outline-danger btnUpdateCantidad">
														<svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
															<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
															<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
														</svg>
													</button>
												</form>
											</div>
												<p class="card-text">
													<small class="text-muted">{{item.producto.get_short_description}}</small></p>
										</div>
									</div>
								</div>
							</div>
						{%endfor%}
					</div>
					<div class="col-md-6">
						<div class="box-element">
							<!-- <a  class="btn btn-outline-dark" href="{% url 'store:carrito' %}">&#x2190; Regresar a carrito</a> -->
							<h3>Resumen de pedido</h3>
							<hr>
							{%for item in items%}

								<div class="cart-row">
									<div style="flex:2"><p>{{item.producto.titulo}}</p></div>
									<div style="flex:1"><p>${{item.producto.precio}}</p></div>
									<div style="flex:1"><p>x{{item.cantidad}}</p></div>
									
									<div style="flex:1"><p><strong>${% widthratio item.cantidad 1 item.producto.precio %}</strong></p></div>
								</div>
							{%endfor%}
							<div class="row">
								<div class="col-md-6">
									<h5>Total: <strong>${{total}}</strong></h5>
								</div>
								<div class="col-md-6">
									<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'store:pago' %}">Crear pedido</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			{%else%}
			<hr>
				<div class="jumbotron">
					<h1 class="display-4">Carrito vacio!</h1>
					<p class="lead">Selecciona algun producto de la tienda y agregalo a tu carrito</p>
					
					<a class="btn btn-primary btn-lg"  href="{% url 'store:tienda' %}" role="button">Seguir comprando</a>
				</div>
			{%endif%}
		</div>
	</div>
{% endblock content %}