{% extends 'store/principal.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">

				<form id="form">					
					<div id="shipping-info">
						
						<p>Información de envío:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Calle..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Número..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Colonia..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Código postal..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Proceder a pago">
				</form>
			</div>

			<br>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'store:carrito' %}">&#x2190; Regresar a carrito</a>
				<hr>
				<h3>Resumen de pedido</h3>
				<hr>
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
					<div style="flex:2"><p>Product 1</p></div>
					<div style="flex:1"><p>$20.00</p></div>
					<div style="flex:1"><p>x2</p></div>
				</div>
				<h5>Items:   2</h5>
				<h5>Total:   $4</h5>
			</div>
		</div>
	</div>
{% endblock content %}