{% extends 'store/principal.html' %}
{% load static %}
{% block content %}
 <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4"> 
		  <img src="{{object.imagen.url}}" class="img-fluid" alt="">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-2">{{object.categoria}}</span>
              </a>
              <a href="">
                <span class="badge blue mr-2">Nuevo</span>
              </a>
              <a href="">
                <span class="badge red mr-2">Lo mas vendido</span>
              </a>
            </div>
			 <p class="lead font-weight-bold">{{object.titulo}}</p>

            <p class="lead">
              <span>$</span><span>{{object.precio}}</span>
					<!-----Ranking---->
					<head>
					<!-- Font Awesome Icon Library -->
					<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
					<style>.checked { color: orange;}</style>
					</head>
					{% if producto.promedio < 1  %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					</body>
					{% endif %}
			
					{% if producto.promedio >= 1 and producto.promedio < 2 %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span>
					<span class="float-right"> <span class="fa fa-star checked"></span></span> 
					</body>
					{% endif %}

					{% if producto.promedio >= 2 and producto.promedio < 3  %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>
					{% endif %}
					{% if producto.promedio >= 3 and producto.promedio < 4  %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"> <span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>
					{% endif %}
					{% if producto.promedio >= 4 and producto.promedio < 5  %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span>
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>
					{% endif %}
					{% if val.puntuacion > 5 %}
					<body>
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>			
					{% endif %}
					


			<!-----Ranking---->

			    </p>

            <p>{{object.descripcion}}</p>

			<form class="d-flex justify-content-left" action="/carrito/" method="POST">  {% csrf_token %}
              <!-- Default input -->
			  <input type="number" value="1" min="1" name="cantidad" aria-label="Search" class="form-control" style="width: 100px">
			  <input type="text" value="{{object.id}}" name="idProducto" style="display: none;">
              <button class="btn btn-success" type="submit">Agregar al carrito<i class="shopping ml-1"></i>
			  </button>
			  
			  {% if comprado %}
					{% if not valoracion_id %}
					<a class="btn btn-outline-info" style="margin-left: 10px" href="{% url 'store:new-valorar' producto.id%}">Valorar producto</a>
					{% else %}
					<a class="btn btn-outline-info" style="margin-left: 10px" href="{% url 'store:edit-valorar' valoracion_id %}">Editar valoración</a>
					{% endif %}
			  {% endif %}
			   

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">
        <!--Grid column-->
		{% for val in producto.valoraciones.all %}
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Comentarios</h4>
        </div>
        <!--Grid column-->

	 <!--comentario-->
		
			<div class="card card-inner">
            	    <div class="card-body">
            	        <div class="row">

						
									<!-- 'valoraciones' hace referencia al parámetro related_name en el atributo producto de la clase Valoracion en models.py -->
                    	    <div class="col-md-2">
                    	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
								<div class="autor text-center "><strong>{{ val.autor }}</strong></div>
                    	       <p><div class="date text-cente">{{ val.fecha_cre }}</div></p>
                    	    </div>


                    	    <div class="col-md-10">
                    <p>        
					{% if val.puntuacion == 1 %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span>
					<span class="float-right"> <span class="fa fa-star checked"></span></span> 
					</body>
					{% elif val.puntuacion == 2 %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>
					{% elif val.puntuacion == 3 %}
					<body>

					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"> <span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>
					{% elif val.puntuacion == 4 %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span>
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>
					{% elif val.puntuacion == 5 %}
					<body>
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					<span class="float-right"><span class="fa fa-star checked"></span></span> 
					</body>			
					{% else %}
					<body>
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					<span class="float-right"><span class="fa fa-star "></span></span> 
					</body>
					{% endif %}
								</p>		

											     
					{% if val.puntuacion == 1 %}
					<span class="badge brown mr-2">Muy malo</span>
					{% elif val.puntuacion == 2 %}
					<span class="badge brown mr-2">Malo</span>
					{% elif val.puntuacion == 3 %}
					<span class="badge brown mr-2">Regular</span>
					{% elif val.puntuacion == 4 %}
					<span class="badge brown mr-2">Bueno</span>
					{% elif val.puntuacion == 5 %}
					<span class="badge brown mr-2">Muy bueno</span>
					{% else %}
				
					{% endif %}
									<p>{{ val.comentario}}</p>
									    <p>
										<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
										<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
										<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

									{% if val.puntuacion <= 2 %}
                    	            <a class="float-right btn text-white btn-danger  ml-2"><i class="fa fa-thumbs-down"></i> No me gusta</a>
									{% elif val.puntuacion == 3 %}
									<a class="float-right btn text-white btn-warning"><i class="fa fa-hand-lizard-o"></i> Regular</a>
									{% else %}
                    	            <a class="float-right btn text-white btn-success"><i class="fa fa-thumbs-up"></i> Me gusta</a>
									{% endif %}
                    	       </p>
							 
									<span class="badge brown mr-2">Compra verificada</span>
									<hr>            	    
                    	    </div>
							{% empty %}
							

							  <div class="col-md-6 text-center">
							 <h4 class="my-4 h4">No hay comentarios</h4>
							</div>
								{% endfor %}



            	        </div>
            	    </div>
	            </div>
      <!--comentario-->

      <!--Grid row--> 
  </main>
  <!--Main layout-->


{% endblock content %}
