{% extends 'store/principal.html' %}
{% load static %}
{% block content %}
 <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static"> 
        </div>
        <div class="col-auto d-none d-lg-block">
		
		
		<svg class="Thumbnail" width="200" height="500">
		<img class="thumbnail" src="{{object.imagen}}">
		</svg>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{object.titulo}}</h3>
          <div class="mb-1 text-muted">{{object.precio}}</div>
          <p class="mb-auto">{{object.descripcion}}</p>
		  <h3 class="mb-0">{{object.categoria}}</h3>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="450" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
		  <title>Placeholder</title>
		  </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock content %}
