{% extends 'store/principal.html' %}
{% load static %}

{% block content %}

<br>
<div class="gap-20"></div>
    <h4>{{origen}}</h4>
<hr>

<!-- Estoy casi seguro que ya lo había intentado así muchas veces... -->
<div class="row">

    {% for producto in queryset %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{producto.imagen.url}}">
            <div class="box-element product">
                <h5><strong>{{producto.titulo}}</strong></h5>
                <h6>{{producto.get_categoria_display}}</h6>
                <h6><strong>${{producto.get_precio}}</strong></h6>
                <hr>

                <button  class="btn btn-success">Agregar a carrito</button>
                <a class="btn btn-outline-info" href="{{producto.get_absolute_url}}">Ver</a>
                
            </div>
        </div>
    {% endfor %}

</div>

{% endblock content %}