{% extends 'store/principal.html' %}
{% load static %}

{% block content %}

<br>
<div class="gap-20"></div>
    <h4>{{origen}}</h4>
<hr>

<!-- Estoy casi seguro que ya lo había intentado así muchas veces... -->
<div class="row">

    {% for producto in object_list %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{producto.imagen.url}}">
            <div class="box-element product">
                <h6><strong>{{producto.titulo}}</strong></h6>
                <hr>

                <button  class="btn btn-warning">Agregar a carrito</button>
                <a class="btn btn-info" href="{{producto.get_absolute_url}}">Ver</a>
                <h4 style="display: inline-block; float: right"><strong>${{producto.precio}}</strong></h4>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock content %}